{% load static %}

<html lang="en">

<head>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% block title %}
            Faculty Feedback
        {% endblock %}
    </title>

    <!-- Fontfaces CSS-->

    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css"
          rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'css/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">


</head>
<body>


{% if user.is_authenticated %}

<div class="page-wrapper">


    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">

                    <a class="logo" href="{% url 'home' %}">
                        <img src="{% static 'img/mobile-logo.png' %}" alt="faculty Feedback" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>


        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="{% url 'home' %}">
                            <i class="fas fa-tachometer-alt"></i> Home</a>
                    </li>

                    <li>
                        <a href="{% url 'contact_create' %}">
                            <i class="fas fa-file-alt"></i> Create</a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>


                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/mobile-logo.png' %}" alt="Faculty Feedback"/>
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-tachometer-alt"></i> Home</a>
                    </li>

                    <li class="{% if request.resolver_match.url_name == 'contact_create' %}active{% endif %}">
                        <a href="{% url 'contact_create' %}">
                            <i class="fas fa-file-alt"></i> Create</a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <div class="header-wrap">

                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">
                                            Hi {{ user.username }}!
                                        </a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">
                                                        Hi {{ user.username }}!
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="{% url 'logout' %}">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                            <img src="{% static 'img/login-logo.png' %}" alt="Faculty Feedback">
                    </div>
                    <div class="login-form text-center">
                        <p>You are not logged in</p>
                        <a class="btn btn-primary"  href="{% url 'login' %}">login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">-->

<!-- Jquery JS-->
<script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<!-- Bootstrap JS-->
<script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<!-- Vendor JS       -->
<script src="{% static 'js/slick.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/animsition.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap-progressbar.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/circle-progress.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/perfect-scrollbar.js' %}" type="text/javascript"></script>
<script src="{% static 'js/Chart.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select2.min.js' %}" type="text/javascript">
</script>

<!-- Main JS-->
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>

<script src="{% static 'js/printThis.js' %}" type="text/javascript"></script>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js"></script>


<script>

$('#printThisBtn').on('click', () => {
    //console.log("click");
    $('.printAre').printThis({
    debug: false,
    importCSS: true,
    importStyle: true,
    loadCSS: "{% static 'css/print.css' %}",
    printContainer: true,
    canvas: true,
    });
})



</script>

<script>
$(function() {

$('#faculty-update').on('click', function(){
  console.log("its working");
    $('.status_change select > option[value=Review]').prop('selected', false);
    $('.status_change select > option[value=Pending]').prop('selected', true);
});

});


</script>

<!--showhide-->
<script>
        $('.Big_add_Close_Input_2').hide();
        $('.Big_add_Close_Input_3').hide();
        $('.Big_add_Close_Input_4').hide();
        $('.Big_add_block_2').hide();
        $('.Big_add_block_3').hide();
        $('.Big_add_block_4').hide();
        $('.Big_add_block_5').hide();
        $(function () {
            //=====
            $('.Big_add_New_Input_1').on('click', function () {
                $('.Big_add_block_2').show()
               // $('.Big_add_New_Input_1').hide();
            });
            //=====
            $('.Big_add_New_Input_2').on('click', function () {
                $('.Big_add_block_3').show()
                $('.Big_add_Close_Input_2').show();
                $('.Big_add_New_Input_2').hide();
            });
            $('.Big_add_Close_Input_2').on('click', function () {
                $('.Big_add_block_2').hide();
                $('.Big_add_block_2').find('input').val('');
            });
            //=====
            $('.Big_add_New_Input_3').on('click', function () {
                $('.Big_add_block_4').show()
                $('.Big_add_Close_Input_3').show();
                $('.Big_add_New_Input_3').hide();
            });
            $('.Big_add_Close_Input_3').on('click', function () {
                $('.Big_add_block_3').hide();
                $('.Big_add_block_3').find('input').val('');
            });
            //=====
            $('.Big_add_New_Input_4').on('click', function () {
                $('.Big_add_block_5').show()
                $('.Big_add_Close_Input_4').show();
                $('.Big_add_New_Input_4').hide();
            });
            $('.Big_add_Close_Input_4').on('click', function () {
                $('.Big_add_block_4').hide();
                $('.Big_add_block_4').find('input').val('');
            });
            //=====
            $('.add_New_Input_5').on('click', function () {
                $('.Big_add_block_5').show()
                $('.Big_add_Close_Input_5').show();
            });
            $('.Big_add_Close_Input_5').on('click', function () {
                $('.Big_add_block_5').hide();
                $('.Big_add_block_5').find('input').val('');
            });
        });


</script>


</body>

</html>
<!-- end document-->