{% extends 'base.html' %}
{% block title %} Print Feedback {% endblock %}
{% block content %}

<style>
    .backBtn{
        position: fixed;
        z-index: 13;
        right: 5%;
    }
</style>

<div class="backBtn clearfix">
    <a href="{% url 'contact_list' %}" class="btn btn-primary btn-sm float-right m-b-10">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</div>


    <div class="printAre card">
        <div class="card-header">
            <strong>Print Feedback</strong>
        </div>
        <div class=" card-body card-block">
            <form method="post" enctype="multipart/form-data">
    
    
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Class</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.CLASS_NAME}}</p>
                    </div>
                </div>
    
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Subject</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.SUBJECT}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Name of the Lesson</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.NAME_OF_THE_LESSON}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Instructional Objective 1</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.INSTRUCTIONAL_OBJECTIVE_1}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Instructional Objective 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.INSTRUCTIONAL_OBJECTIVE_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Instructional Objective 3</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.INSTRUCTIONAL_OBJECTIVE_3}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Instructional Objective 4</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.INSTRUCTIONAL_OBJECTIVE_4}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Instructional Objective 5</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.INSTRUCTIONAL_OBJECTIVE_5}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Teaching Point 1</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.TEACHING_POINT_1}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Domain </label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.DOMAIN}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Are of Interest</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.AREA_OF_INTEREST}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Type of Learning Activity 1</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.TYPE_OF_LEARNING_ACTIVITY_1}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Learning Activity Details</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.LEARNING_ACTIVITY}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Students Experience Visual</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.STUDENTS_EXPERIENCE_VISUAL}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Auditory</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.AUDITORY}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Fine Motor</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.FINE_MOTOR}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Gross Motor</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.GROSS_MOTOR}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Intelligence Used</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.INTELLIGENCE_USED}} </p>
                    </div>
                </div>
    
                {% if object.image %}
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Image If any </label>
                    </div>
                    <div class="col-md-8">
                        <img class="upimg img-fluid rounded mx-auto d-block" src="{{ object.IMAGE_IF_ANY.url}}"
                            alt="{{ object.CLASS_NAME }}" />
                    </div>
                </div>
                {% endif %}
    
    
                {% if object.VIDEO_LINK_IF_ANY %}
                <div class="videoIfAny row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Video Link If Any</label>
                    </div>
                    <div class="col-md-8">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315"
                                src="https://www.youtube.com/embed/{{object.VIDEO_LINK_IF_ANY}}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                {% endif %}
    
    
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Learning Material Used </label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.LEARNING_MATERIAL_USED}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Assessment of Learning Activity </label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.ASSESSMENT_OF_LEARNING_ACTIVITY}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Teaching Point 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.TEACHING_POINT_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Domain 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.DOMAIN_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Are of Interest 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.AREA_OF_INTEREST_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Type Of Learning Activity</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.TYPE_OF_LEARNING_ACTIVITY_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label"> Learning Activity 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.LEARNING_ACTIVITY_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Students Experience Visual 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.STUDENTS_EXPERIENCE_VISUAL_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Auditory 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.AUDITORY_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Fine Motor 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.FINE_MOTOR_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Gross Motor 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.GROSS_MOTOR_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Intelligence Used 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.INTELLIGENCE_USED_2}} </p>
                    </div>
                </div>
    
                {% if object.image %}
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Image if Any</label>
                    </div>
                    <div class="col-md-8">
                        <img class="upimg img-fluid rounded mx-auto d-block" src="{{ object.IMAGE_IF_ANY_2.url}}"
                            alt="{{ object.CLASS_NAME }}" />
                    </div>
                </div>
                {% endif %}
    
    
                {% if object.VIDEO_LINK_IF_ANY %}
                <div class="videoIfAny row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Video Link if Any 2</label>
                    </div>
                    <div class="col-md-8">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315"
                                src="https://www.youtube.com/embed/{{object.VIDEO_LINK_IF_ANY_2}}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                {% endif %}
    
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Learning Material Used 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.LEARNING_MATERIAL_USED_2}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Assessment of Learning Activity 2</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.ASSESSMENT_OF_LEARNING_ACTIVITY_2}} </p>
                    </div>
                </div>
    
    
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Homework</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.HOMEWORK}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Comments</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.COMMENTS}} </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label class=" form-control-label">Status</label>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static"> {{ object.STATUS}} </p>
                    </div>
                </div>
    
                <button id="printThisBtn" type="button" class="btn btn-primary btn-sm">
                    <i class="fas fa-print"> </i> Print
                </button>
                
            </form>
        </div>
    </div>


{% endblock %}
